html{
    background-color: rgb(248, 240, 240);
    margin: 50px;
}

body{
    background-color: ivory;
}

main{
    margin-top: 30px;
    margin-bottom: 100px;
}
footer{
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(248, 240, 240);
    border-top: rgb(248, 240, 240);
    padding-top: 30px;
}
.footer-div{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    /*background-color: rgb(248, 240, 240);
    border-color: rgb(248, 240, 240);*/
    border-top: 10px;
}

header {
    margin-bottom: 50px;
}

.division {
    border-bottom: 10px solid rgb(248, 240, 240);
}

.page-title {
    font-size: 50px;
    color: rgb(156, 2, 110);
    width: 100%;
    background-color: white(241, 205, 252);
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    }
.sub-header {
    font-size: 25px;
    color: black;
    width: 100%;
    background-color: white(241, 205, 252);
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    margin-bottom: 50px;
    }
.row {
    display: flex;
    }
      
.column {
    flex: 50%;
    }

.profile_pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  margin-top: 50px;
  }

a {
    text-decoration: none;
    /*color: rgb(226, 43, 128);*/
    color: rgb(156, 2, 110);
    text-decoration: underline;
    text-align: right;
    display: inline;
    margin-top: 20px;
    background-position: 100%;
}

.content-list {
    margin-top: 30px;
}
menu-list{
    margin-left: 0px;
    margin-right: 0px;
}
.contentsH {
    font-size: 30px; 
    display: inline;
    margin-right: 100px;
}
.contents {
    font-size: 25px;
    color: rgb(156, 2, 110);
    width: 100%;
    display: inline;
    margin-top: 20px;
    margin-right: 20px; 
    text-align: right;
    background-position: 100%;
}

.title {
    font-size: 25px;
    color: rgb(156, 2, 110);
    width: 100%;
    margin-top: 0px;
    margin-left: 100px;
    margin-bottom: 10px;
    text-align: left;
}
.text {
    font-size: 18px;
    color: black;
    width: 100%;
    margin-top: 0px;
    margin-left: 100px;
    text-align: left;
}
.text1 {
    font-size: 18px;
    color: black;
    width: 80%;
    margin-top: 0px;
    margin-left: 100px;
    text-align: left;
}
ul{
    background-color: ivory;
}
.contents1 {
    font-size: 25px;
    color: rgb(156, 2, 110);
    width: 100%;
    display: inline;
    margin-right: 20px; 
}

.table{
    display: table;
    margin: 0 auto;
}
.icon {
    display: inline;
}
.icon-list{
    margin-left: 100px;
    list-style-type:none;
}

.linkedin-icon {
    margin-top: 10px;
    width: 30px;
    height: auto;
    
}

.twitter-icon {
    margin-top: 10px;
    width: 30px;
    height: auto;
}
.home-icon{
    width: 30px;
    height: auto;
}

.background-pic{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;
}

.caption {
    text-align: right;
}

.contents11{
    font-size: 25px;
    color: rgb(156, 2, 110);
    width: 100%;
    display: inline;
    margin-top: 20px;
    margin-right: 10px; 
    text-align: right;
    background-position: 100%;
}

.quote{
    font-style: italic;
    text-align: right;
    margin-right: 30px;
    font-size: 20px;
    margin-bottom: 0px;
}

.author{
    text-align: right;
    margin-right: 30px;
    margin-top: 10px;
}

.references{
    font-size: 13px;
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
}